---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section
    class="mt-8 mx-auto px-4 w-full sm:w-128 flex flex-col items-center gap-4 text-xl text-center"
  >
    <div
      class="relative border-6 border-red-900 max-w-full w-full bg-gray-800 aspect-1 shrink-0 rounded-full overflow-hidden"
    >
      <img
        class="pointer-events-none"
        src="/assets/images/sellswordpeople.webp"
        alt=""
      />
      <div class="spark"></div>
    </div>
    <p>
      Sellsword Arts is many things, but at its most basic it is a celebration
      of swordsmanship.
    </p>
    <p>
      Whether that be fencing, choreography, history, or pop culture, we are all
      about the blade.
    </p>
    <p>
      We are dedicated to creating videos that help educate people about how
      swords work while making you laugh.
    </p>
  </section>
</Layout>

<style>
  section > div:hover > .spark {
    animation: shine 0.6s forwards;
  }
  .spark {
    position: absolute;
    top: 33%;
    left: 76%;
    width: 10px;
    height: 1px;
    background-color: white;
    transform-origin: 50% 50%;
    scale: 0;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 10px;
      transform: translate(-50%, -50%);
      background-color: white;
    }
  }

  @keyframes shine {
    25% {
      scale: 1.5;
    }
    50% {
      scale: 0.5;
    }
    75% {
      scale: 2;
    }
    to {
      scale: 0;
    }
  }
</style>
