---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="w-full h-full flex flex-col justify-center items-center gap-4">
    <a
      href="https://patreon.com/sellswordarts"
      target="_blank"
      class="group mt-8 flex justify-center gap-4 w-fit mx-auto"
    >
      <div
        class="bg-red-600 transition-bg duration-200 group-hover:bg-red-500 rounded-full p-6 h-32 w-32 flex justify-center items-center"
      >
        <img class="max-h-full max-w-full" src="/assets/icons/patreon.svg" />
      </div>
      <p class="w-32 text-xl">You can support us from just 1$ a month!</p>
    </a>
    <section class="mx-auto text-xl text-center text-balance">
      <h2 class="text-4xl mb-4">Sellsword Arts is our full-time job!</h2>
      <p class="mb-4 sm:w-150 max-w-full mx-auto">
        We love making videos that people can enjoy for free, but sometimes the
        YouTube algorithm doesn't quite make ends meet.
      </p><p class="mb-4 sm:w-150 max-w-full mx-auto">
        Supporting the channel on Patreon is a HUGE help! It's a consistent
        amount of money that we can count on each month, which is incredibly
        helpful!
      </p>
    </section>
  </div>
</Layout>
