---
import Card from "../components/Card.astro";
import ImageCard from "../components/ImageCard.astro";
import Social from "../components/Social.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="sticky z-5 top-0 py-4 w-full bg-red-700">
    <div class="mx-auto w-fit grid grid-cols-4 gap-8">
      <Social
        link="https://www.youtube.com/@SellswordArts"
        icon="/assets/icons/youtube.svg"
      />
      <Social
        link="https://www.tiktok.com/@sellsword.arts"
        icon="/assets/icons/tiktok.svg"
      />
      <Social
        link="https://www.facebook.com/sellswordarts/"
        icon="/assets/icons/facebook.svg"
      />
      <Social
        link="https://www.instagram.com/sellswordartsbts/"
        icon="/assets/icons/instagram.svg"
      />
    </div>
  </section>

  <section class="px-4 w-full">
    <div class="grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] gap-4">
      <ImageCard
        link="https://www.gofundme.com/f/overqualified-looking-for-group?attribution_id=sl:fadf5d8b-c3a0-4517-aa27-213b28fbe237&lang=en_US&ts=1763950533&utm_campaign=man_sharesheet_dash&utm_content=amp17_control&utm_medium=customer&utm_source=copy_link"
        title="MinMaxed - D&D youtubers campaing"
        image="/assets/images/dnd.webp"
      >
        <p>Support us on GoFundMe so we can make it happen</p>
        <div class="w-full flex justify-center gap-4">
          <img class="h-8" src="/assets/icons/gofundme.svg" />
          <img class="h-8" src="/assets/icons/dnd.svg" />
        </div>
      </ImageCard>
      <ImageCard
        link="hhttps://docs.google.com/forms/d/e/1FAIpQLSfJYXEGajtDq0Wrlrzg7o4SwKp6tludjvlHp4wbp0TtEbD_yg/viewform?usp=header"
        title="200K Giveaway"
        image="/assets/images/banner.webp"
        ><p>
          Fulfill the google form to participate in our <b
            >Sellsword Fencing Giveaway</b
          >
        </p>
      </ImageCard>

      <ImageCard
        link="https://www.hemaalliance.com/club-finders"
        title="Find a HEMA center near you"
        image="/assets/images/banner.webp"
      />
    </div>
  </section>
  <section
    class="sticky z-5 bottom-2 px-2 w-full flex flex-col md:flex-row justify-center flex-wrap gap-2"
  >
    <Card link="https://patreon.com/sellswordarts">
      <img class="h-4 md:h-8" src="/assets/icons/patreon.svg" />
      <p class="text-sm md:text-xl font-bold text-center text-balance">
        Support us for just 1$ a Month!
      </p>
    </Card>

    <Card link="https://sellsword-arts-shop.fourthwall.com/">
      <p class="text-sm md:text-xl font-bold text-center text-balance">
        Buy our Merch!
      </p>
      <img class="h-4 md:h-8" src="/assets/icons/sword.svg" />
    </Card>
  </section>
</Layout>
