<footer class="mt-8 w-full flex flex-col items-center justify-center gap-4">
  <ul class="flex justify-center items-center gap-4 underline">
    <li><a href="/about">About</a></li>
    <li><a href="/support">Donate</a></li>
    <li><a href="/gear">Gear Recs</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <p>Sellsword Arts 2025</p>
</footer>
